{% extends 'base.html' %}

{% block conteudo %}

<h1>{{nome}}</h1>

<div class="container-fluid">
    
    <table class="table table-dark table-striped-columns table-bordered border-light">
         <thead>
            <tr>
                <th>Processamento</th>
                <th>Entendimento</th>
                <th>Percepcao</th>
                <th>Entrada</th>
            </tr>
        </thead>
            {% for analise in lista %}
        <tbody class="flex-column">
            <tr>
                <td>{{ analise.dimensao_processamento}}</td>
                <td>{{ analise.dimensao_entendimento}}</td>
                <td>{{ analise.dimensao_percepcao}}</td>
                <td>{{ analise.dimensao_entrada}}</td>
            </tr>
            <tr>
                <td>{{ analise.reflexao_processamento}}</td>
                <td>{{ analise.reflexao_entendimento}}</td>
                <td>{{ analise.reflexao_percepcao}}</td>
                <td>{{ analise.reflexao_entrada}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>  
    <p type="button" class="btn btn-light">
        <a href="{% url 'listar' %}">Voltar</a>
    </p>
</div>

{% endblock %}