{% extends 'base.html' %}

{% block conteudo %}

<h1>{{nome}}</h1>

<div class="container-fluid">
    
    <table class="table table-dark table-striped-columns table-bordered border-light">
        <tr>
            <th>Nome</th>
            <th>Processamento</th>
            <th>Entendimento</th>
            <th>Percepcao</th>
            <th>Entrada</th>
        </tr>
        {% for analise in lista %}
        <tr>
            <td>{{ analise.formulario}}</td>
            <td>{{ analise.processamento}}</td>
            <td>{{ analise.entendimento}}</td>
            <td>{{ analise.percepcao}}</td>
            <td>{{ analise.entrada}}</td>
        </tr>
        {% endfor %}
    </table>  
</div>

{% endblock %}