{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}

<form method="post">
    {%csrf_token%}
    <div class="mb3">
        <h1>Enunciado 1:</h1>
    </div>
    <div class="mb3">
        <h1>Opação A:</h1>
    </div>
    <div class="mb3">
        <h1>Opação B:</h1>
    </div>
    <div class="mb3">
        {{frm.questao_1.label}}
        {{frm.questao_1|add_class:'form-control'}}
        {{frm.questao_2|add_class:'form-control'}}
        {{frm.questao_3|add_class:'form-control'}}
        {{frm.questao_4|add_class:'form-control'}}
        {{frm.questao_5|add_class:'form-control'}}
        {{frm.questao_6|add_class:'form-control'}}
        {{frm.questao_7|add_class:'form-control'}}
        {{frm.questao_8|add_class:'form-control'}}
        {{frm.questao_9|add_class:'form-control'}}
        {{frm.questao_10|add_class:'form-control'}}
        {{frm.questao_11|add_class:'form-control'}}
        {{frm.questao_12|add_class:'form-control'}}
        {{frm.questao_13|add_class:'form-control'}}
        {{frm.questao_14|add_class:'form-control'}}
        {{frm.questao_15|add_class:'form-control'}}
        {{frm.questao_16|add_class:'form-control'}}
        {{frm.questao_17|add_class:'form-control'}}
        {{frm.questao_18|add_class:'form-control'}}
        {{frm.questao_19|add_class:'form-control'}}
        {{frm.questao_20|add_class:'form-control'}}
    </div>

    <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-save"></i> Salvar
    </button>
</form>

{% endblock %}