{% extends 'base.html' %}

{% block conteudo %}
<div class="d-flex flex-column align-items-center">
    <div class="container-fluid text-bg-secondary bg-gradient p-4 d-flex flex-row align-items-center justify-content-between">
        <div><h1>Seja bem vindo {{ request.user.nome }}</h1></div>
        <div class="d-flex flex-column">
        <p type="button" class="btn btn-light">
            <a href="{% url 'listar' %}">Veja seus testes</a>
        </p>        
        <p type="button" class="btn btn-light">
            <a href="{% url 'formulario' %}">Realizar um teste</a>
        </p>        
        <p type="button" class="btn btn-light">
            <a href="{% url 'turmas' %}">Ver turmas</a>
        </p>
        </div>
    </div>
</div>
{% endblock %}