{% extends 'base.html' %}

{% block conteudo %}

<h1>{{nome}}</h1>

<div class="container-fluid">
    
    <table class="table table-dark table-striped-columns table-bordered border-light">
        <tr>
            <th>Curso</th>
            <th>Ano</th>
            <th>Descrição</th>
            <th>Análise:</th>
        </tr>
        {% for turma in turmas %}
        <tr>
            <td>{{ turma.curso }}</td>
            <td>{{ turma.periodo}}</td>
            <td>{{ turma.descricao}}</td>
            <td>
                <p type="button" class="btn btn-warning">
                    <a href="{% url 'turmas.analise' turma.id %}"><i class="fa-solid fa-wrench"></i></a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>  
</div>

{% endblock %}